/*global css*/
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding:0;
  scroll-behavior: smooth;
 
}
body{
      margin:0;
      padding:0;
    background-color: #ffffff;
   }

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a,a:hover{
display: inline-block;
text-decoration: none;
}

ul,ol{
  list-style-type: none;
  padding:0;
  margin:0;
}
.container{
  max-width: 1366px;
  margin: 0 auto;
}


.cat-wrapper{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  /* margin-top: 150px; */
  margin-bottom: 170px;
  padding: 0 35px 35px 35px;
  background-color: #ffffff;
 
  position: relative;
}
.cat-name{
  margin-left: 168px;
 padding: 0 0 10px 5px;
  width: 300px;
  border-bottom: 1px solid;

  color: rgb(62, 89, 130);
  background-color: #ffffff;
 
  font-size: 28px;
}

.product-wrap{
  box-shadow: 0 0 4px 0px rgb(165 165 165);
  padding: 20px;
  height: 340px;
  margin-top: 30px;
  position: relative;
  transition: .5s ease;
}

.product-wrap h5{
  width: 230px;

  margin: 10px 0 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 20px;
  color: #898989;
  font-weight: 400;
}
.product-wrap h6{
  width: 230px;

  margin: 10px 0 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 30px;
  color: #898989;
  font-weight: 400;
}
.cat-wrapper .product-wrap > figure{
  max-width: 250px;
  max-height: 200px;
}
.cat-wrapper .product-wrap img{
  width: 250px;
  height:200px;
  
}
.cat-wrapper .product-wrap:hover {
  transform: scale(1.1);
  }
.product-wrap .add-cart-button{   
  padding: 3px 4px 3px 4px;
  background-color: white;
  font-size: 18px;
  position: absolute;
  bottom: 4px;
  right: 9%;
  border: 2px solid #898989;
}
.cat-wrapper .add-cart-button:hover{  

   background-color:#49aff3;
   border-color: 49aff3;
   color: #ffffff;
   cursor: pointer;
   transition: 1s ease;
}
.cat-outer{
    position: relative;
    margin-top: 20px;
}
.btn-more{
  color: rgb(62, 89, 130);
  position: absolute;
  right: 171px;
  z-index: 1;
  bottom: 407px;
  border: 0;
  background: none;
}


.down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}
.arrow {
  border: solid  rgb(165 165 165);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  animation: moveArrow 1s infinite;
  position: relative;
 
}

@keyframes moveArrow {
  0%   { left: 0px; top: 0px;}
  25%  { left: 10px; top: 0px;}
  50%  { left: 0px; top: 0px;}
  75%  { left: 10px; top: 0px;}
  100% { left: 0px; top: 0px;}
}
